/* Period.module.css */
.slideEnter {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
}

.slideEnterActive {
	max-height: 250px; /* Adjust this value based on the content */
	opacity: 1;
	transition: max-height 100ms ease-in-out, opacity 00ms ease-in-out;
}

.slideExit {
	max-height: 250px;
	opacity: 1;
}

.slideExitActive {
	max-height: 0;
	opacity: 0;
	transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}
