name: Lint and Format

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

jobs:
  lint-and-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache Bun dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.bun
            bun.lockb
            node_modules
            .next/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('bun.lockb') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-bun-${{ hashFiles('bun.lockb') }}-

      - name: Install dependencies
        run: bun install

      - name: Run lint
        run: bun lint:ci

      - name: Run format
        run: bun format:ci
